#green{
    background-color: green;
    
}
.blue{
    background-color: skyblue;
}
.red{
    background-color: orangered;
}

#test{
    display: none;
}

#number{
    border: solid;
    display: none;
}

#nay{
    display: none;
}

#start{
  display: flex;
  justify-content: space-around;
}

#starter-img{
    display: flex;
    justify-content: space-around;
}

#ches-choose{
    display: none;
}

#froakie-choose{
    display: none;
}

#fenn-choose{
    display: none;
}

#yan{
    display: none;
}

#safeTimerDisplay{
    display: none;
}

#first-battle{
    display: none;
}

#retry{
    display:none;
}