#green{
    background-color: green;
    
}
#blue{
    background-color: skyblue;
}
#red{
    background-color: orangered;
}

#test{
    display: none;
}

#number{
    border: solid;
    display: none;
}

#nay{
    display: none;
}

#starter{
  display: flex;
  justify-content: space-around;
}

#starter-img{
    display: flex;
    justify-content: space-around;
}

#ches-choose{
    display: none;
}

#froakie-choose{
    display: none;
}

#fenn-choose{
    display: none;
}

#yan{
    display: none;
}

#safeTimerDisplay{
    display: none;
}

#first-battle{
    display: none;
}

#retry{
    display:none;
}

#aquacorde_town{
    display:none;
}

#choose{
    display: none;
}

#grunt_battle{
    display: none;
}

#continue{
    display:none;
}

#second-battle{
    display: none;
}

